@media screen and (max-width:1080px){
    .card-content {
        width: 50% !important;
    }
}
@media screen and (max-width:822px){
    .card-content {
        min-width:80% !important;
    }
}
@media screen and (max-width:560px){
    .card-content {
        width: 95% !important;
    }
}
.display-none{
    display: none;
}
.header-post, .header-comment, a.btn-more-params-post:hover,.dropdown-content, .dropbtn,button.like, button.btn-comment {
    color:white;

}
.header-post, .header-comment, a.btn-more-params-post:hover, .dropdown:hover .dropbtn {
    background: #44566c;
}

.header-post {
    position: relative;
    display: grid;
    grid-template-columns: .01fr 1fr .1fr;
    padding: 10px;
}
.avatar-on-post {
    width: 60px;
    height: 60px;
    border-radius: 51px;
    background: dodgerblue;
    margin: auto 10px;
}
.post-name-date {
    text-align: left;
}
p.post-name {
    margin: 16px 0 5px;
}
p.post-date {
    margin: 5px 0 16px;
}
button.dropbtn {
    display: flex;
    margin: 16px 10px auto auto;
    background: transparent;
    border: none;
    box-shadow: none;
}

button.dropbtn:active {
    transform: scale(1.5);
    border: none;
}
button.dropbtn:selected {
    transform: scale(1.2);   
    border: none;
    box-shadow: black 0.2px 0.2px 13px -5.2px;
}
.parametre-post-open {
    background: red;
    color: black;
    position: absolute;
    right: 161px;
    top: 51px;
}
.btn-more-params-post {
    background: #f9f9f9;
    border: none;
    padding: 8px;
    color: black;
    border-radius: 0;
    width: 100%;
    margin: 0;
}
.btn-more-params-post:hover {
    background: #44566c;
    color:white;
    
    }
.dropdown {
    display: inline-block;
}

a.btn-more-params-post, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content {
    z-index: 2;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
input.btn-more-params-post.btn-more-params-post-del {
    color: red;
}
.bk
.dropdown-content a:hover {background-color: #f1f1f1}
.show {
    display:flex!important;
    flex-direction: column;
    }
.cards {
    display: flex;
    flex-direction: column;
    grid-template-columns: .5fr .5fr .5fr .5fr; 
    align-items: center;
    justify-content: center;
}


.card-content {
    margin: 15px 0;
    color: white;
    width: 44%;
    box-shadow: black 0.5px 0.5px 10px -6px;
}
.media_post {
    display: flex;
    justify-content: center;
}
.iframe-media {
    border: none;
    margin: 0;
}
.comment-title {
    display: flex;
    justify-content: center;
    text-align: center !important;
    margin: 0 auto!important;
}
button.like, button.btn-comment {
    padding: 0;
}
button.btn-comment {
    margin: auto 17px;
}
.like-count {
    font-weight: bold;
    color: white!important;
}
.is-liked {
    color: red!important;
}
