
.header-comment {
    background: #44566c;
    padding: 8px;
    margin-top: -3px;
}
.like-unlike {
    text-align: left;
    margin: 0 20px;
}
button.like, button.btn-comment {
    font-size: 1.2rem;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: .5px .5px 10px -6px black;
}

.avatar-comment {
    width: 44px;
    grid-area: avatar;
}
ul.comment-ul{
    padding: 0;
}
ul.comment-ul>li {
    position: relative;
    display: grid;
    grid-template-columns: 0.2fr 1.2fr 1.4fr .2fr;
    grid-template-rows: 0.1fr 1.9fr;
    grid-template-areas: 
        "avatar user . params"
        "avatar comment comment params";
    width: 90%;
    margin: auto;
}
.comment-content {
    list-style: none
}
.comment-user-content{grid-area: user}
.comment-user, .comment-text{
    text-align: left;
    margin:0;
    }
.content-comment-or-modif{grid-area: comment}
.dropbtn-comment {grid-area: params; position: absolute; top:0; right: 0}
.comment {display: none}
.dropdown-content-comment{
    position: absolute;
    right: 0;
}
