
#form-create-comment {
    display: flex;
    position: relative;
}
textarea.form-control-comment {
    display: flex;
    width: 96%!important;
    margin: 30px auto !important;
    height: 79px;
    resize: none;
    font-size: 1.55rem;
    background: #44566c;
    border: none;
    color: white;
    border-radius: 10px;
}

button.form-control-comment.form-control-comment-submit {
    position: absolute;
    right: 20px;
    bottom: 30px
}