#form-create-post {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 95%;
    width: 60%;
    min-height: 300px;
    background: #44566c;
    margin: 20px auto;
    position: relative;
}
.title-form-post {
    color: white;
    font-size: 1.2rem;
}
.form-control {
    resize: none;
    margin: 15px;
}
textarea.form-control {
    font-size: 1.55rem;
    background: #2f435e;
    height: 150px;
    border: none;
    color: white;
    border-radius: 10px;
}
.image-post, .image-post-label{
    position: absolute;
    cursor: pointer;
}
.image-post {
    bottom: 77px;
    opacity: 0;
    font-size: 2rem;
    left: -291px;
}
.image-post-label{
    color: white;
    left: 40px;
    bottom: 105px;
    font-size: 1.8rem
}
.image-post>button {
    display: none
}
.choise-image {
    max-height: 50px;
    position: absolute;
    top: 60px;
    left: 18px;
    border-radius: 7px;
}
.form-control-submit {
    width: 30%;
    margin:auto; 
}
.with-scroll{
    margin:213px auto auto;
}
.without-scroll{
    margin:21px auto auto;
}
/* styles de base si JS est activé */
.js .input-file-container {
	position: relative;
	width: 225px;
}
.js .input-file-trigger {
	display: block;
	padding: 14px 45px;
	background: #39D2B4;
	color: #fff;
	font-size: 1em;
	transition: all .4s;
	cursor: pointer;
}
.js .input-file {
	position: absolute;
	top: 0;
	left: 0;
	width: 225px;
	padding: 14px 0;
	opacity: 0;
	cursor: pointer;
}
button.form-control.form-control-su {
    margin: auto;
    position: absolute;
    bottom: 108px;
    right: 36px;
}
/* quelques styles d'interactions */
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
	background: #34495E;
	color: #39D2B4;
}
/* styles du retour visuel */
.file-return {
	margin: 0;
}
.file-return:not(:empty) {
	margin: 1em 0;
}
.js .file-return {
	font-style: italic;
	font-size: .9em;
	font-weight: bold;
}
/* on complète l'information d'un contenu textuel uniquement lorsque le paragraphe n'est pas vide */
.js .file-return:not(:empty):before {
	content: "Selected file: ";
	font-style: normal;
	font-weight: normal;
}
@media screen and (max-width:1080px){
    #form-create-post {
        width:68%;
    }
}
@media screen and (max-width:822px){
    #form-create-post {
        width:80%;
    }
}
@media screen and (max-width:560px){
    #form-create-post {
        width:95%;
    }
}
@media screen and (min-width:1550px){
    #form-create-post {
        width: 44% !important;
    }
}