.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.scrol-fixed{
  z-index: 999;
  position: fixed;
  top:0;
  
  left:0;
  right:0;
}
.scrol-fixed>li>a>p{
  display: none
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo, .icon {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and(max-width:700px){
  p,.none-on-small{
    display: none;
  }
}

.fas-custom-header-isCo {
  font-size: 25px;
}
.selected-li {
  display: flex;
  flex-direction: column;
}
.App-header {
  background-color: #2f435e;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  #ececec;
}

.header-title {
    font-size: 1.8rem;
}
.ul-sign-log {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    list-style: none;
    text-align: center;
    padding: 15px 0;
    margin: auto;
    width: 100%;
    background: #44566c;
}


.ul-sign-log > li > a {
    text-decoration: none;
    color: #ececec;
    font-weight: bold;
    max-width: 200px;
    width: 171px;
    font-size: 1.35rem;
    padding: 25px;
    border-radius: 73px;
}

.ul-sign-log > li > a:hover, .ul-sign-log > li > a:focus{
    background: #2f435e;
}
.focus-on-position {
    background: #201b22;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width:700px){
  .none-on-small{
    display: none;
  }
  .ul-sign-log > li > a {
    width: 51px;
   
}
}