.App-logo {
  height: 15vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo, .icon {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fas-custom-header-isCo {
  font-size: 25px;
}
.selected-li {
  display: flex;
  flex-direction: column;
}
.App-header {
  background-color: #E63F03;
  height: fit-content;
  width: 100%;
  display: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title {
    font-size: 1.8rem;
}
.ul-sign-log {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    list-style: none;
    text-align: center;
    padding: 15px 0;
    margin: auto;
    width: 100%;
    //height: 48px;
    background: #FF591C;
}


.ul-sign-log > li > a {
    text-decoration: none;
    color:  white;
    font-weight: bold;
    max-width: 200px;
    min-width: 150px;
    font-size: 1.35rem;
    padding: 25px;

}

.ul-sign-log > li > a:active{
    color:red
}

.ul-sign-log > li > a:hover{
    border-radius: 60px;
    background: #E63F03;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
