.form-modif {
    display: flex;
    flex-direction: column;
    //box-shadow: 0 0 10px -7px;
    margin: 20px auto;
    padding: 20px;
}
.avatar-modif {
    color: white;
}
.form-modif> button {
    width: fit-content;
    padding: 10px;
    color: white;
    background: #008CBA;
    margin: 20px 0 20px;
    border: none;
    border-radius: 20px  ;
    transform: scale(1);
    transition: all 600ms ease;

}
.form-modif> button:hover{
    transform: scale(1.1)    
}
input.input-form-modif {
    background: #2f435e
}
input.input-form-modif:focus::placeholder {
    
    color: #44566c;
}
@media screen and (max-width:900px){
    .form-modif {
        margin: 137px auto 0;
    }
    img.avatar-profil-modif {
        position: absolute;
    }
    .form-modif > button {
        margin: auto;
    }
    
}
@media screen and (max-width:600px){
    
    input.input-form-modif {

        max-width: 75%;
        margin: 6px auto;
    }
    .form-modif {
        
        padding: 20px 0;
    }
}