.modif-post{
    position: relative;
}
#form-modif-post {
    display: grid;
    grid-template-areas: 
        ". a a ."
        ". i . ."
        ". bA bS .";
}
#form-modif-post > textarea.form-control {
    grid-area: a;
    background: #44566c;
}


#form-modif-post > .pos-lab-on-input{
    margin: 0;
    left:200px;
    bottom: 100px;
    grid-area: i;
}
#form-modif-post >.image-post-modif {
    left: -65px;
    bottom: 95px;
}
.form-control-modif-post-annuler {
    grid-area: bA!important;
    background-color: red;
}
.form-control-modif-post {
    margin: 15px auto!important;
    grid-area: bS;
}
/*   #form-modif-post > pos-lab-on-input  */