#form-modif {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px auto;
}
#form-modif> button {
    width: 20%;
    color: white;
    background: #008CBA;
    margin: 20px auto 0;
    border:2px #008CBA;
    border-radius: 2px  ;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.49);
    transform: scale(1);
    transition: all 1s ease;

}
#form-modif> button:hover{
    transform: scale(1.5)    
}
#form-modif> input {
    width: 30%;
    margin: auto;
}